body{
    background-image: url(./src/dragonballz-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    text-transform: capitalize;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;
    height: 100vh;
}
.item-1{
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    height: 300px;
    width: 300px;
    text-align: center;
   padding-bottom: 5px;
   border: solid  rgba(255, 255, 255, .2);
   border-radius: 20%;
}
.item-2{
    height: 300px;
    width: 300px;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    height: 300px;
    width: 300px;
    text-align: center;
   padding-bottom: 5px;
   border: solid  rgba(255, 255, 255, .2);
   border-radius: 20%;
}
.item-3{
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    height: 300px;
    width: 300px;
    text-align: center;
   padding-bottom: 5px;
   border: solid  rgba(255, 255, 255, .2);
   border-radius: 20%;
}
img{
    height: 100%;
    width: 100%;
  
}
.img{
    height: 25%;
    width: 75%;
    margin-left: 12%;
}
a{
    color: blue ;
    font-weight: bold;
    
    
}
p{
    font-weight: bolder;
    text-align: center;
    
}
h1{
    color: black;
    
}
.owner{
    padding-top: 30% ;
}
@media (max-width:1200px) {
    .container{
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
    }
    .item-1{
        margin-top: 20%;
    }
    .container2{
        flex-basis: 100%;
    }
    
    
}
.goku-body{
    background-image: url(./src/goku-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    text-transform: capitalize;
    height: 100vh;
    
}
.container2{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    flex-basis: 100%;
    
}

.p2{
    color: black;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border: solid rgba(255, 255, 255, .2);
    border-radius: 10%;
    margin-top:0; 
}
.vageta-body{
    background-image: url(./src/vageta-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    text-transform: capitalize; 
}
.gohan-body{
    background-image: url(./src/gohan-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    text-transform: capitalize; 
    position: relative;
}
mark{
    background-color: rgba(214, 108, 9, 0.658);
}
.mark{
    color: blue;
}

